.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  width: 183px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  margin: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

.description {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.two-columns {
  min-width: 784px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph_no-margin {
  margin: 0;
}

.two-columns__spaw-accent {
  font-weight: bold;
}

.digits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

.table {
  width: 1100px;
}

.table__table-row {
  display: flex;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin: 60px auto 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.feynman {
height: 890px;
background-color: #f2f2f2;
background-image: url('../images/feynman.png');
background-position: bottom left;
background-size: 867px 637px;
background-repeat: no-repeat;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 100px 0 0 0;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 70px 0 0;
  z-index: 2;

}

.feynmann__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #1f1f1f;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
}
.section-title_theme_dark {
  color: #eee;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #eee;
  z-index: 1;
}

.table__table-row_theme_dark {
  display: flex;
  justify-content: space-between;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 80px auto 0;
  z-index: 1;
}

.table__heading_theme_dark {
  color: #eee;
}

.table__text_theme_dark {
  color: #eee;
}

.footer {

  background-color: #1f1f1f;
  box-sizing: content-box;
  padding: 60px 0 40px;
}

.footer__columns {
  min-height: 250px;
  display: flex;
  width: 90%;
  margin: 0 auto 0;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  width: 183px;
  height: 35px;
}

.footer__author {
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  text-decoration: none;
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  background-size: cover;
  margin: 0 10px 0 0;
}
